@charset "UTF-8";

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "APL333";
  src: local("APL333"), url(fonts/Apl333.ttf) format("truetype");
  font-style: normal;
  font-display: block;
}

body {
  font-family: "APL333", monospace;
}

main {
  padding: 0.8em;
}

section {
  justify-content: space-evenly;
  display: flex;
}

td:nth-child(4n + 1) {
  text-align: right;
}

.function,
.moperator,
.doperator,
.control,
.noun,
.copula {
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  font-family: "APL385", monospace;
  text-align: center;
}

.function {
  background-color: #ddccff;
}

.moperator {
  background-color: #cceeff;
}

.doperator {
  background-color: #eeffcc;
}

.control {
  background-color: #eeaaaa;
}

.noun {
  background-color: #ffccee;
}

.copula {
  background-color: #cccccc;
}

h1,
h2 {
  color: #000;
  background: none;
  font-weight: normal;
}

h1 {
  margin-bottom: 0.5em;
  border-bottom: 1px solid #a2a9b1;
}

sub,
sup,
p {
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1ex 0;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

table {
  border-spacing: 2px;
  border-collapse: collapse;
  table-layout: fixed;
}

table td {
  padding: 0.25em;
}

.color-code tr {
  font-size: 0.8em;
}

.color-code {
  display: flex;
}

h1 {
  font-size: 1.8em;
}

@media screen and (max-width: 1648px) {
  h1 {
    font-size: 1.6em;
  }

  .function,
  .moperator,
  .doperator,
  .control,
  .noun,
  .copula {
    font-size: 1em;
    font-size: 1.2em;
    padding: 0.2em 0.4em;
  }

  table td {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 1436px) {
  .color-code tr {
    font-size: 0.6em;
  }

  .color-code {
    display: block;
  }

  .color-code > * {
    margin: auto;
  }

  .separator {
    display: none !important;
  }
  .color-code span {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .color-code table {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  section {
    flex-direction: column;
    width: 100%;
  }
  section div {
    width: 100%;
  }

  section div table {
    margin: auto;
  }
}
