@font-face {
  font-family: "APL385";
  src: local("APL385 Unicode"), url(Apl385.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "APL333";
  src: local("APL333"), url(Apl333.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "APL333";
}

.glyph {
  background-color: #ddccff;
  border-left: 1px solid #a2a9b1;
  font-size: 1.4em;
  padding: 0.2em 1.2em;
  font-family: "APL385" !important;
}

td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
  border-left: none;
  border-right: none;
  text-align: center;
}

tr {
  border: 1px solid #a2a9b1;
}

table {
  border-spacing: 2px;
  border-collapse: collapse;
}
